<footer>
    <h3>Contact</h3>
    <p>Shaileshh Bojja Venkatakrishnan</p>
    <p>Assistant Professor</p>
    <p>Dreese Lab 572</p>
    <p>
      <a href="https://cse.osu.edu/">Department of Computer Science and Engineering</a>
    </p>
    <p>
      <a href="https://www.osu.edu/">The Ohio State University</a>
    </p>
    <p>Email: bojjavenkatakrishnan.2@osu.edu</p>
    <br>
    <p>&copy;<%=Time.now.year%> Shaileshh Bojja Venkatakrishnan</p>
  </footer>