<%provide(:title,'Home Page!')%>
<div class="home">
<h1>Audience Evaluation of Presentations</h1>
<p>Web Application designed by Feras Akileh, Jonathan Goshima, Macy Ostrander, and Annelise Rasmussen</p>
</div>