---
title: Welcome to Middleman
---
<h1>
    News
</h1>

<h2>Service</h2>
<table>
    <thead>
        <tr>
            <th>Role</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Special Issue Editor</td>
            <td><a href="https://www.mdpi.com/journal/mathematics/special_issues/KK83053602">Emerging networks and blockchain technology</a> - Please consider submitting your work.</td>
        </tr>
        <tr>
            <td>TPC Member</td>
            <td>Sigmetrics '23</td>
        </tr>
        <tr>
            <td>Organizer</td>
            <td>Workshop on Blockchains and Networking, Sigmetrics '22</td>
        </tr>
        <tr>
            <td>TPC Member</td>
            <td>Sigmetrics '22</td>
        </tr>
        <tr>
            <td>TPC Member</td>
            <td>ICBC '22</td>
        </tr>
        <tr>
            <td>TPC Member</td>
            <td>ITC '34</td>
        </tr>
        <tr>
            <td>TPC Member</td>
            <td>Mobihoc '22</td>
        </tr>
        <tr>
            <td>TPC Member</td>
            <td>Sigmetrics '21</td>
        </tr>
        <tr>
            <td>TPC Member</td>
            <td>Workshop on Decentralising the Internet with IPFS and Filecoin (DI2F) - part of IFIP Networking '21</td>
        </tr>
    </tbody>
 </table>
<h2>Some articles on Dandelion</h2>
 <table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Paper</td>
            <td><a href="https://dl.acm.org/doi/10.1145/3084459">Dandelion: Redesigning the Bitcoin Network for Anonymity</a></td>
        </tr>
        <tr>
            <td>Paper</td>
            <td><a href="https://arxiv.org/pdf/1805.11060">Dandelion++: Lightweight Cryptocurrency Networking with
Formal Anonymity Guarantees</a></td>
        </tr>
        <tr>
            <td>Article</td>
            <td><a href="https://crypto.news/">BTCManager</a></td>
        </tr>
        <tr>
            <td>Article</td>
            <td><a href="https://cyberscoop.com/researchers-redesign-bitcoin-anonymity-u-s-law-enforcement-hires-specialists/">CyberScoop</a></td>
        </tr>
        <tr>
            <td>Article</td>
            <td><a href="https://news.bitcoin.com/dandelion-bitcoin-anonymize-transaction-broadcasts/">Bitcoin</a></td>
        </tr>
        <tr>
            <td>Article</td>
            <td><a href="https://www.oodlestechnologies.com/blogs/Bitcoin-To-Get-More-Anonymous-With-The-New-BIP-Called-Dandelion/">Oodlestechnologies</a></td>
        </tr>
        <tr>
            <td>Article</td>
            <td><a href="https://infocoin.net/en/2018/05/15/bitcoin-privacy-proposal/">InfoCoin</a></td>
        </tr>
        <tr>
            <td>Article</td>
            <td><a href="https://www.wired.com/story/harry-pottery-cryptocurrency-privacy-zcash-monero/">Wired</a></td>
        </tr>
    </tbody>
 </table>


<img class="news-photo" src="/images/newspagephoto.jpg" alt="Dandelion Photo" width="450" height="300" style="padding: 50px;">
