---
title: Welcome to Middleman
---

<h1>
  Research
</h1>

<h2>
  Publications
</h2>

<table>
  <tr>
    <th>Project</th>
    <th>Contributors</th>
    <th>Program</th>
    <th>Year</th>
  </tr>

  <tr>
    <td>PolicyClusterGCN: Identifying Efficient Clusters for Training Graph Convolutional Networks</td>
    <td>
      <ul>
        <li>Saket Gurukar</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Balaraman Ravindran</li>
        <li>Srinivasan Parthasarathy</li>
      </ul>
    </td>
    <td>ASONAM</td>
    <td>2023</td>
  </tr>

  <tr>
    <td><a href="https://ieeexplore.ieee.org/document/10174933">Blockchain Bandits: Optimizing Mining Rewards in Proof-of-Work Network Games</a></td>
    <td>
      <ul>
        <li>Arti Vedula</li>
        <li>Abhishek Gupta</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
      </ul>
    </td>
    <td>ICBC</td>
    <td>2023</td>
  </tr>

  <tr>
    <td><a href="https://ieeexplore.ieee.org/document/10174871"><span class="bolded">Goldfish: Peer Selection using Matrix Completion in Unstructured P2P Network</span></a></td>
    <td>
      <ul>
        <li>Bowen Xue</li>
        <li>Yifan Mao</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Sreeram Kannan</li>
      </ul>
    </td>
    <td>ICBC</td>
    <td>2023</td>
  </tr>

  <tr>
    <td><a href="https://arxiv.org/abs/2210.12858">Kadabra: Adapting Kademlia for the Decentralized Web</a></td>
    <td>
      <ul>
        <li>Yunqi Zhang</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
      </ul>
    </td>
    <td>FC</td>
    <td>2023</td>
  </tr>

  <tr>
    <td><a href="https://arxiv.org/pdf/2209.00695">DecVi: Adaptive Video Conferencing on Open Peer-to-Peer Networks</a></td>
    <td>
      <ul>
        <li>Jingren Wei</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
      </ul>
    </td>
    <td>ICDCN workshop</td>
    <td>2023</td>
  </tr>

  <tr>
    <td><a href="https://arxiv.org/pdf/2204.02461">Less is More: Fairness in Wide-Area Proof-of-Work Blockchain Networks</a></td>
    <td>
      <ul>
        <li>Yifan Mao</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
      </ul>
    </td>
    <td>Preprint, CESC</td>
    <td>2022</td>
  </tr>

  <tr>
    <td><a href="https://arxiv.org/pdf/2103.03288">The Effect of Network Topology on Credit Network Throughput</a></td>
    <td>
      <ul>
        <li>Vibhaalakshmi Sivaraman</li>
        <li>Weizhao Tang</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Giulia Fanti</li>
        <li>Mohammad Alizadeh</li>
      </ul>
    </td>
    <td>Performance</td>
    <td>2021</td>
  </tr>

  <tr>
    <td><a href="https://drive.google.com/file/d/1ChBypxj0ry5-rAMpN9RodC4JDZ5GdQv4/view">Perigee: Efficient Peer-to-Peer Network Design for Blockchains</a></td>
    <td>
      <ul>
        <li>Yifan Mao</li>
        <li>Soubhik Deb</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Sreeram Kannan</li>
        <li>Kannan Srinivasan</li>
      </ul>
    </td>
    <td>PODC</td>
    <td>2020</td>
  </tr>

  <tr>
    <td><a href="https://www.usenix.org/system/files/nsdi20-paper-sivaraman.pdf">High Throughput Cryptocurrency Routing in Payment Channel Networks</a></td>
    <td>
      <ul>
        <li>Vibhaalakshmi Sivaraman</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Kathleen Ruan</li>
        <li>Parimarjan Negi</li>
        <li>Lei Yang</li>
        <li>Radhika Mittal</li>
        <li>Giulia Fanti</li>
        <li>Mohammad Alizadeh</li>
      </ul>
    </td>
    <td>NSDI</td>
    <td>2020</td>
  </tr>

  <tr>
    <td><a href="https://proceedings.neurips.cc/paper_files/paper/2019/file/71560ce98c8250ce57a6a970c9991a5f-Paper.pdf">
Learning Generalizable Device Placement Algorithms for Distributed Machine Learning</a></td>
    <td>
      <ul>
        <li>Ravichandra Addanki</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Shreyan Gupta</li>
        <li>Hongzi Mao</li>
        <li>Mohammad Alizadeh</li>
      </ul>
    </td>
    <td>NeurIPS</td>
    <td>2019</td>
  </tr>

  <tr>
    <td><a href="https://proceedings.neurips.cc/paper_files/paper/2019/file/f69e505b08403ad2298b9f262659929a-Paper.pdf">Park: An Open Platform for Learning-AugmentedComputer Systems</a></td>
    <td>
      <ul>
        <li>Hongzi Mao</li>
        <li>Parimarjan Negi</li>
        <li>Akshay Narayan</li>
        <li>Hanrui Wang</li>
        <li>Jiacheng Yang</li>
        <li>Haonan Wang</li>
        <li>Ryan Marcus</li>
        <li>Ravichandra Addanki</li>
        <li>Mehrdad Khani</li>
        <li>Songtao He</li>
        <li>Vikram Nathan</li>
        <li>Frank Cangialosi</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Wei-Hung Weng</li>
        <li>Song Han</li>
        <li>Tim Kraska</li>
        <li>Mohammad Alizadeh</li>
      </ul>
    </td>
    <td>NeurIPS</td>
    <td>2019</td>
  </tr>

  <tr>
    <td><a href="https://openreview.net/pdf?id=Hyg1G2AqtQ">Variance Reduction for Reinforcement Learning in input-Driven Environments</a></td>
    <td>
      <ul>
        <li>Hongzi Mao</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Malte Schwarzkopf</li>
        <li>Mohammad Alizadeh/li>
      </ul>
    </td>
    <td>ICLR</td>
    <td>2019</td>
  </tr>

  <tr>
    <td><a href="https://dl.acm.org/doi/pdf/10.1145/3341302.3342080">Learning Scheduling Algorithms for Data Processing Clusters</a></td>
    <td>
      <ul>
        <li>Hongzi Mao</li>
        <li>Malte Schwarzkopf</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Zili Meng</li>
        <li>Mohammad Alizadeh</li>
      </ul>
    </td>
    <td>ACM Sigcomm</td>
    <td>2019</td>
  </tr>

  <tr>
    <td><a href="https://dl.acm.org/doi/pdf/10.1145/3224424">Dandelion++: Lightweight Cryptocurrency Networking with Formal Anonymity Guarantees</a></td>
    <td>
      <ul>
        <li>Giulia Fanti</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Surya Bakshi</li>
        <li>Bradley Denby</li>
        <li>Shruti Bhargava</li>
        <li>Andrew Miller</li>
        <li>Pramod Viswanath</li>
      </ul>
    </td>
    <td>ACM Sigmetrics</td>
    <td>2018</td>
  </tr>

  <tr>
    <td><a href="https://dl.acm.org/doi/pdf/10.1145/3084459">Dandelion: Redesigning the Bitcoin Network for Anonymity</a></td>
    <td>
      <ul>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Giulia Fanti</li>
        <li>Pramod Viswanath</li>
      </ul>
    </td>
    <td>ACM Sigmetrics</td>
    <td>2017</td>
  </tr>

  <tr>
    <td><a href="https://dl.acm.org/doi/pdf/10.1145/2896377.2901479?download=true">Costly Circuits, Submodular Schedules: Hybrid Switch Scheduling for Data Centers</a></td>
    <td>
      <ul>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Mohammad Alizadeh</li>
        <li>Pramod Viswanath</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>ACM Sigmetrics</li>
        <li>Queing Systems</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>2016</li>
        <li>2017</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td><a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaGFpbGVzaGhidnxneDoxYWFhNGM3NWVlZGY5Yzkz">Information Complexity Density and Simulation of Protocols</a></td>
    <td>
      <ul>
        <li>Himanshu Tyagi</li>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Pramod Viswanath</li>
        <li>Shun Watanabe</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Innovations in Theoretical Computer Science (ITCS)</li>
        <li>IEEE Transactions on Information Theory</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>2015</li>
        <li>2017</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td><a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaGFpbGVzaGhidnxneDo1ZmI3MDQ1ZjY5NDUxYzAy">Deterministic Near-Optimal P2P Streaming</a></td>
    <td>
      <ul>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Pramod Viswanath</li>
      </ul>
    </td>
    <td>ACM Sigmetrics</td>
    <td>2015</td>
  </tr>

  <tr>
    <td><a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaGFpbGVzaGhidnxneDo2MzQwM2NlNjYzN2RkYmEx">Degrees of Freedom for Multiple Multicast Traffic</a></td>
    <td>
      <ul>
        <li>Shaileshh Bojja Venkatakrishnan</li>
        <li>Sreeram Kannan</li>
        <li>Pramod Viswanath</li>
      </ul>
    </td>
    <td>International Symposium on Information Theory (ISIT)</td>
    <td>2014</td>
  </tr>

</table>

<p>Note: <span class="bolded">Goldfish: Peer Selection using Matrix Completion in Unstructured P2P Network</span> nominated for best paper</p>
<h2>
  Dissertation & Reports
</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Fulfillment</th>
    <th>University</th>
    <th>Date</th>
  </tr>

  <tr>
    <td><a href="https://www.ideals.illinois.edu/bitstream/handle/2142/98367/BOJJAVENKATAKRISHNAN-DISSERTATION-2017.pdf?sequence=1&isAllowed=y">Algorithms for Interactive, Distributed and Networked Systems</a></td>
    <td>Ph.D. dissertation</td>
    <td>UIUC</td>
    <td>May 2016</td>
  </tr>

  <tr>
    <td><a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzaGFpbGVzaGhidnxneDo1YmY2MWI5NWVmOTIyZjY">An Interference Alignment Scheme for Multiple Multicast Traffic</a></td>
    <td>Master's Thesis</td>
    <td>UIUC</td>
    <td>May 2014</td>
  </tr>
</table>