---
title: Welcome to Middleman
---
<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;" class=teaching-content>
  <div>
  <h1 style="text-decoration: underline;">Courses</h1>
    <h3>Spring '23</h3>
      <ul>
        <li>CSE 5469: Introduction to Blockchains and Decentralized Applications</li>
        <li>CSE 3461: Computer Networking</li>
      </ul>

    <h3>Spring '22</h3>
      <ul>
        <li>CSE 3461: Computer Networking</li>
      </ul>

    <h3>Spring '21</h3>
      <ul>
        <li>CSE 3461: Computer Networking</li>
        <li>CSE 5469: Data-driven Algorithms for Networking Systems</li>
      </ul>
  </div><div>

  <h1 style="text-decoration: underline;">Students</h1>
  <ul>
    <li>Yifan Mao (Ph.D.)</li>
    <li> <a href="https://yunqiz.com/">Yunqi Zhang (Ph.D.)</a></li>
    <li>Jingren Wei (Ph.D.)</li>
    <li>Arti Vedula (Ph.D., co-advised with  Prof. Abhishek  Gupta)</li>
    <li>Patrick Yang (Masters)</li>
    <li>Mel Gunawardena (Undergrad) </li>
  </ul>
  </div>
</div>